body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    align-content: center;

}
 #films {
    list-style-type: none;
    margin: 0;
    background-color: beige;
    border: 1px 
}
      
.film-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid 
        
}
.film-item:hover {
    background-color: bisque;
}
      
      
#film-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
      
      #film-poster {
        max-width: 100%;
        height: auto;
      }
      
      #film-title {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
      }
      
      #film-runtime,
      #film-showtime,
      #film-tickets {
        margin: 5px 0;
      }
      